<div class="container">
  <div class="row">
    <h1>Schedules</h1>
    <div class="col-md-4">
      <h3>Hello!</h3>
      <p>Please submit the schedule</p>
    </div>
    <div class="col-md-8">

      <%= form_for @schedule do |f| %>
      <% if @schedule.errors.any? %>
        <%= pluralize(@schedule.errors.count, "error") %>
        <ul>
          <% @schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :due_at %>
          <%= f.date_field :due_at, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
